<h1>Saved Searches</h1>

{{#each saved}}
<div class="container my-4 border savedContainer">
   <div class="saved">
      <h5>{{saved_name}}</h5>
      <p>Here are your parameters</p>
      <div>
         <ul>
            <li>
               {{paramOne}}
            </li>
            <li>
               {{paramTwo}}
            </li>
            <li>
               {{paramThree}}
            </li>
            <li>
               {{paramFour}}
            </li>
         </ul>
      </div>
      <p>Click here to search again! <a href="/search">Search Again!</a></p>
   </div>
</div>

{{else}}
<div class="container my-4 border">
   <h5>Uh oh!</h5>
   <p>You have no saved searches</p>
</div>
{{/each}}